[Desktop Entry]
Version=1.0
Type=Application
Name=PasswordChecker
Exec=gnome-terminal -- bash -c "docker run -it --rm -v ~:/mnt -v ~/Desktop/logs:/logs -v ~/Desktop/anonymized-data:/anonymized-data password-checker:amd64"
Icon=utilities-terminal
Terminal=false